[MASTER]
# Specify a configuration file.
rcfile=

# Add desired paths to the import paths.
init-hook='import sys; sys.path.append("src")'

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-whitelist=

# List of plugins (as comma separated values of python module names) to load,
# usually to register additional checkers.
load-plugins=

[MESSAGES CONTROL]
# Only show the following errors/warnings (comma-separated)
enable=

# Disable the message, report, category or checker with the given id(s).
disable=duplicate-code

[REPORTS]
# Tells whether to display a full report or only the messages.
reports=no

[LOGGING]
# Format style used to check logging format string. `old` means using the
# old-style % formatting.
logging-format-style=old
